

.card {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 50px;
        float: right;
        position: relative;
        right: 300px;
    } 
    .welcome {  
        position :relative;
        left: 100px;
        width: 200px;
        height: 120px;
       font-size: 40px;  
       border-bottom: 5px solid black;
       
    }